*{
    margin: auto;
}
body{
    font-family: "Host Grotesk";
    font-size: 16px;
    background-color: rgb(14, 14, 15);
    color: rgba(216, 216, 216, 0.7);
    padding: 0px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    height: 4.5em;
    background: linear-gradient(to right, rgba(216, 216, 216, 0.7),rgb(75, 75, 75),rgba(216, 216, 216, 0.7));
    padding-bottom: 0.2em;
    position: fixed;
    z-index: 1000;
    align-self: start;
    width: 100%;
}
.header_container{
    background-color: rgb(14, 14, 15);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
    margin: 0 0 0 3em;
}
.nav img{
    padding-bottom: 0.3em;
}
.nav_items_container{
    padding-left: 4.5em;
    display: flex;
}
.nav_items_container a{
    font-size: 0.9em;
    font-weight: 600;
    color: rgba(216, 216, 216, 0.7);
    background: none;
    justify-self: center;
}
.nav_item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5em;
    padding: 0em 2em 0em 2em;
}
.nav_item:hover{
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}
.nav_buttons{
    display: flex;
    margin: 0;
}
.nav_buttons button{
    border: none;
    font-weight: 600;
}
.nav_buttons button:hover{
    cursor: pointer;
    color: white;
}
.sign_up{
    background-color: blue;
    width: 10em;
    height: 5.5em;
}
.sign_in{
    width: 10em;
    height: 5.3em;
    background: none;
    color: rgba(216, 216, 216, 0.7);
    
}
.sign_in:hover{
    background-color: rgb(34, 34, 34);
}
#sign_up{
    color: white;
}
.menu{
    border: 0.4em blue solid;
    border-radius: 0.5em;
    width: 4em;
    display: none;
}
.menu h1{
    font-size: 3em;
}
section{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.techstars{
    height: 3em;
    display: flex;
    align-items: center;
    border: 1.5px solid rgba(44, 44, 44, 0.7);
    border-radius: 12px;
    width: 20em;
    background-color: black;

}
.techstars p{
    font-size: 0.6em;
    letter-spacing: 3.5px;
}
#techstars_text{
    font-size: 2em;
    color: white;
    letter-spacing: -0.5px;
    font-weight: 800;
    margin-left: -0.4em;
}
.dash{
    color: rgb(7, 209, 7);
    font-weight: 900;
}
.header_section{
    margin-top: 14em;
}
.header_section h1{
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    margin-top: 0.5em;
    width: 15em;
    letter-spacing: -1px;
    background: radial-gradient(ellipse, rgba(45, 45, 58, 0.5),rgb(14, 14, 15),rgb(14, 14, 15));

}
#deploy{
    font-size: 1.2em;
    text-align: center;
    letter-spacing: normal;
    width: 35em;
    margin-top: 1.5em;
    font-weight: 200;
}.request_button{
    margin-top: 5em;
    background-color: blue;
    border-radius: 0.5em;
    padding: 0em 0.5em 0.4em 0em;
}.request_button button{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 4em;
    width: 14em;
    border: 2px solid blue;
    border-radius: 0.5em;
    margin-left: -3px;
    margin-top: -3px;
}
.request_button button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: transform 0.5s ease-in-out;
}

.request_button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
video{
    height: 30em;
    background-color: aliceblue;
    border-radius: 1em
}
.screen{
    background: none;
    border: none;
}
.video{
    margin-top: 10em;
    background: linear-gradient(to right, white,rgba(216, 216, 216, 0.7), rgb(34, 34, 34));
    height: 30em;
    padding: 0.1em;
    border-radius: 1em;
}
.second_section{
    background: radial-gradient(ellipse, rgb(46, 34, 54),rgb(14, 14, 15),rgb(14, 14, 15) );
}
.trusted{
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 4em;
    background: radial-gradient(ellipse, rgb(46, 34, 54),rgb(14, 14, 15),rgb(14, 14, 15) );
}
.product_lists{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75em;
    flex-wrap: wrap;
}
.product_lists img{
    height: 2em;
    margin: 0px 2.2em 3em 2.2em;
}
.why_container{
    width: 85%;
    background: linear-gradient(white, rgba(216, 216, 216, 0.7), rgba(18, 18, 20) );
    border-radius:1em;
    padding: 0.1em;
}
.why_content{
    border-radius: 1em;
    background-color:  rgba(14, 14, 15);
    display: flex;
    align-items: center;
    padding: 0 0 0 2em;
}
.left_why{
    width: 65%;
    margin: 3em 0em 2em 3em;
}
.why_pipeops{
    letter-spacing: 0.2em;
    margin-bottom: 2em;
    margin-top: 1em;
}
.left_why h2{
    background: linear-gradient(to right, rgb(247, 247, 247), rgba(216, 216, 216, 0.7));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5em;
    margin-bottom: 0.5em;
}
.Devops_note{
    font-size: 1.3em;
    font-weight: 100;
    line-height: 1.4em;
    width: 80%;
    margin: 0;
}
.right_why{
    margin-top: 4em;
    position: relative;
    margin-bottom: 4em;
    display: flex;
    margin-right: 20em;
}
.right_why svg{
    position: absolute;
    align-self: center;
    left: 5em;
    transform: scale(1.2);
}
.right_why_bg{
    background: radial-gradient(red,red,blue,rgb(14,14,15),rgb(14,14,15));
    border-radius: 20em;
    height: 15em;
    width: 15em;
    filter: blur(4em);
    opacity: 0.5;
}
.achievement{
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 60em;
}
.achievement_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle, rgba(64, 14, 110, 0.5),rgba(64, 14, 110, 0.3),rgb(14, 14, 15),rgb(14, 14, 15),rgb(14, 14, 15));
}
.number{
    font-size: 3em;
    font-weight: 700;
    background: linear-gradient(to right, rgb(247, 247, 247), rgba(216, 216, 216, 0.7));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0.5em;
}
#unit{
    font-size: 0.5em;
}
.deployment{
    font-size: 1.4em;
    background: linear-gradient(to right, rgb(247, 247, 247), rgba(216, 216, 216, 0.7));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.achievement_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle, rgba(64, 14, 110, 0.5),rgba(64, 14, 110, 0.3),rgb(14, 14, 15),rgb(14, 14, 15),rgb(14, 14, 15));
}
.achievement_1 img{
    height: 3em;
}.achievement_2 img{
    height: 3em;
}
.third_section_header{
    margin-top: 10em;
    width: 40em;
    text-align: center;
    background: radial-gradient(ellipse, rgba(64, 14, 110, 0.5),rgba(64, 14, 110, 0.3),rgb(14, 14, 15),rgb(14, 14, 15),rgb(14, 14, 15),rgb(14, 14, 15));
}
.third_section_header h2{
    font-size: 3em;
    font-weight: 500;
    background: linear-gradient(to right, rgb(247, 247, 247), rgba(216, 216, 216, 0.7));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}.third_section_header p{
    font-size: 1.4em;
    margin-top: 1.2em;
}
.card_section{
    margin-top: 8em;
    display: flex;
    justify-content: space-between;
    width: 85%;
    gap: 2em;
}
.card_container{
    display: flex;
    height: 25em;
    width: 25em;
    border-radius: 1em;
    padding: 0.2em;
    background: linear-gradient(rgba(216, 216, 216, 0.7),rgba(20, 20, 21, 1));
}
.card_container:hover{
    cursor: pointer;
    background: linear-gradient(rgba(216, 216, 216, 0.7));
    transform: translateY(-1em);
    transition: transform 0.5s ease-in;
    .screen_container{
        background: linear-gradient( rgba(72, 117, 35, 0.7),rgb(59, 214, 12), rgba(134, 26, 26, 0.7))
    }
}
.card{
    background-color: rgb(14, 14, 15);
    height: 100%;
    border-radius: 1em;
    padding: 0em 2em 0em 2em;
}
.card_content{
    display: flex;
    flex-direction: column;
}
.screen_container{
    background: linear-gradient( rgba(247, 247, 247,0.7),rgb(95, 95, 95), rgba(216, 216, 216, 0.7));
    width: 100%;
    height: 7em;
    padding: 0.1em;
    border-radius: 0.4em;
    margin-top: 2em;
}
.interface{
    background-color: rgb(14, 14, 15);
    height: 100%;
    border-radius: 0.4em;
    padding: 0em 0.5em 0em 0.5em;
}
.card_details{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}
.card_details h2{
    background: linear-gradient(to right, rgba(216, 216, 216, 0.7),rgba(216, 216, 216, 0.5),rgba(216, 216, 216, 0.7));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4rem;
    width: 100%;

}.card_details p{
    font-size: 1.1rem;
}
.third_section{
    position: relative;
}
.design{
    position: absolute;
    width: 20em;
    height: 20em;
    background: conic-gradient(
        rgb(216, 219, 3) 0deg 90deg,
        red 90deg 225deg,
        rgb(46, 34, 54) 225deg 360deg
    );
    z-index: -100;
    filter: blur(10em);
    opacity: 0.5;
    top: 50em;
}
.features{
    margin-top: 20em;
    margin-bottom: 15em;
}
.features_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.usecases_container{
    width: 20em;
    height: 7em;
    background: linear-gradient(to right,  rgba(216, 216, 216),rgba(70,70,70));
    padding: 0.2em;
    border-radius: 1em;
    position: absolute;
    right: 3em;
}
.features_details_container{
    width: 20em;
    height: 7em;
    background: linear-gradient(to left,  rgba(216, 216, 216),rgb(70, 70, 70));
    padding: 0.2em;
    border-radius: 1em;
    position: absolute;
    left: 3em;
}
.mid_design_container{
    background: linear-gradient(rgba(216, 216, 216),rgb(70, 70, 70));
    width: 15em;
    height: 15em;
    border-radius: 100em;
    position: absolute;
    padding: 0.2em;
    z-index: 1;
}
.features_details{
    background-color: rgb(14, 14, 15);
    border-radius: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.usecases{
    background-color: rgb(14, 14, 15);
    border-radius: 1em;
    height: 100%;
    display: flex;
    justify-content: start;
}
.mid_design{
    background-color: rgb(14, 14, 15);
    border-radius: 100em;
    height: 100%;
    width: 100%;
    display: flex;
}
.usecases_content{
    display: flex;
    justify-content: space-between;
    width: 10em;
    margin-left: 2em;
}
.features_details_content{
    display: flex;
    justify-content: space-between;
    width: 10em;
    margin-left: 8em;
}
.features p{
    margin-left: 0.4em;
    font-size: 1.2em;
}
.the_mid_design{
    width: 5em;
    height: 5em;
    background: conic-gradient(
        rgb(216, 219, 3) 0deg 90deg,
        red 90deg 225deg,
        rgb(212, 235, 8) 225deg 360deg
    );
    filter: blur(2em);
}
.mid_design_container:hover{
    cursor: pointer;
    .the_mid_design{
        display: none;
    }
}
.usecases_container:hover{
    background: linear-gradient(to right,  rgba(216, 219, 3),rgba(255, 0, 0));
    cursor: pointer;
    
}
.features_details_container:hover{
    cursor: pointer;
    background: linear-gradient(to left,  rgba(216, 219, 3),rgba(255, 0, 0));
}
.deploy{
    display: flex;
    width: 100%;
    margin-top: 4em;
}
.deploy h1{
    text-align: center;
    font-size: 3em;
    background: linear-gradient(to right, rgb(215,215,216),rgba(215,215,216,0.5), rgb(215,215,216));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 10em;
}
.deploy p{
    margin-top: 1em;
    font-size: 1.1em;
}
.deploy_container{
    margin-top: 5em;
    display: flex;
    width: 80%;
    transform: scale(1.1);
}
.deploy_container p{
    text-align: start;
    margin: 0px 0px 0px 1em;
    font-weight: 600;
    font-size: 1.1em;
}
.deploy_left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.git{
    border-left: 0.2em solid rgb(46, 34, 54);
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}
.git:hover{
    border-left: 0.2em solid blue;
    cursor: pointer;
}
.git_3{
    border-left: 0.2em solid rgb(46, 34, 54);
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}
#narrate{
    font-size: 1em;
    margin-top: 0.5em;
    font-weight: 300;
}
.deploy_right{
    position: relative;
}
.random_design{
    position: absolute;
    width: 12em;
    height: 12em;
    background: conic-gradient(
        rgb(209, 209, 209) 0deg 45deg,
        rgb(78, 71, 71) 45deg 225deg,
        rgb(175, 175, 175) 225deg 360deg
    );
    bottom: 4em;
    left: 4.5em;
    filter: blur(2em);
    opacity: 0.35;
}
.review_section{
    display: flex;
    text-align: center;
}
.review_section h1{
    width: 12em;
    font-size: 3em;
    background: linear-gradient(to right, rgba(216,216,216),rgba(216,216,216,0.5),rgba(216,216,216));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.review{
    width: 65%;
    background: radial-gradient(circle,rgb(61, 61, 73),rgb(14,14,15),rgb(14,14,15),rgb(14,14,15),rgb(14,14,15));
}
.arrows{
    margin-top: 4em;
    display: flex;
    width: 9em;
}
.arrows button{
    background-color: rgb(34, 34, 34);
    border: none;
    width: 1.6em;
    height: 1.6em;
    font-size: 2em;
    font-weight: 100;
    border-radius: 100em;
    color: rgba(215,215,216,0.6);
}
.arrows button:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}
.review_container{
    margin-top: 7em;
    text-align: left;
    width: 100%;
}
.review{
    width: 85%;
}
.review_text{
    font-size: 2.4em;
    line-height: 1.8em;
    font-weight: 100;
    background: linear-gradient( rgba(216,216,216),rgba(216,216,216,0.5),rgba(216,216,216));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}.profile{
    margin-top: 4em;
    display: flex;
    align-items: center;
    gap: 2em;
}.name{
    font-size: 1.8em;
}.title{
    font-size: 1.5em;
    margin-top: 0.5em;
}.profile img{
    width: 3.8em;
    background-color: rgb(34, 34, 34);
    border-radius: 100em;
}.profile_image{
    width: 4em;
    height: 4em;
    display: flex;
    background: linear-gradient(red,yellow,blue);
    border-radius: 100em;
    margin: 0;
}.profile_details{
    margin: 0;
    opacity: 0.8;
}
.discover_more{
    display: flex;
    text-align: center;
    margin-top: 15em;
}.discover_more_container h1{
    width: 8em;
    font-size: 3em;
    background: linear-gradient(to right, rgba(216,216,216),rgba(216,216,216,0.5),rgba(216,216,216));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}.two_cards{
    display: flex;
    width: 70%;
    margin-top: 7em;
    gap: 6em;
}.big_card{
    height: 35em;
    background: linear-gradient(rgba(216,216,216),rgba(112, 112, 112, 0.1));
    border-radius: 1em;
    padding: 0.15em;
}.big_card_details{
    background-color: rgb(14, 14, 15);
    border-radius: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}.big_card_screen_container{
    display: flex;
    height: 15em;
    background-color: rgba(34, 34, 34,0.2);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}.big_card_screen{
    background-color: rgba(14, 14, 15,0.7);
    border-radius: 1em;
    width: 85%;
    height: 70%;
    display: flex;
}.big_card_screen_details{
    margin: 0;
    margin: 2em 0em 0em 2em;
}.big_card_screen_details button{
    opacity: 0.2;
    margin-bottom: 1em;
}.addons{
    width: 85%;
}.addons h2{
    font-size: 2em;
    background: linear-gradient(to right, rgba(216,216,216),rgba(216,216,216,0.5),rgba(216,216,216));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}.addons p{
    font-size: 1.1em;
    margin-top: 1em;
    font-weight: 100;
}.addons_link{
    width: 85%;
    display: flex;
}.addons_link a{
    margin: 0;
    margin-top: -2em;
    color: white;
    font-size: 1.2em;
    font-weight: 100;
    text-underline-offset: 0.2em;
}.big_card:hover{
    transform: translateY(-1em);
    cursor: pointer;
    .big_card_screen{
        transform: translateY(0.5em);
        background-color: black;
        transition: all 0.5s ease-in-out;
        z-index: 1;
    }
    .addons_link a{
        text-decoration: none;
    }
    transition: all 0.5s ease-in-out;
}.random_design_2{
    width: 10em;
    height: 10em;
    position: absolute;
    background-color: blueviolet;
    align-self: center;
    top: 6em;
    filter: blur(3em);
    opacity: 0.1;
}.FAQ_content{
    text-align: left;
    display: flex;
    width: 80%;
    gap: 10em;
}.FAQs h1{
    font-size: 3em;
    width: 8em;
    background: linear-gradient(rgba(216,216,216),rgba(216,216,216,0.5));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}.FAQ_left{
    margin: 0;
}.FAQ_right{
    margin: 0;
    width: 100%;
}.question p{
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.005em;
    margin: 0;
    align-self: center;
    width: 75%;
}.FAQ_right img{
    margin: 0;
    align-self: center;
}
.FAQ_right_content{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.question_container{
    background: linear-gradient(to right, rgb(35,34,35),rgba(216,216,216));
    width: 100%;
    padding: 0.1em 0em 0.1em 0em;
    margin: 0;
}
.question{
    display: flex;
    justify-content: space-around;
    background-color: rgb(14, 14, 15);
    height: 100%;
    padding: 1.2em 0em 1.2em 0em;
}
.answer{
    background-color: rgb(14, 14, 15);
    padding: 0em 2em 1.2em 2.8em;
    display: none;
}
.question_container:hover{
    cursor: pointer;
    .FAQ_img{
        transform: rotate(90deg);
        transition: all 0.5s ease-in-out;
    }
    .answer{
        display: block;
        transition: all 1s ease-in-out;
    }
}
.get_started{
    position: relative;
    width: 80%;
}
.get_started_container{
    width: 100%;
    background: linear-gradient(to right, rgba(216,216,216),rgba(216,216,216,0.1));
    padding: 0.2em;
    border-radius: 1em;
}
.get_started_content{
    background: rgb(14, 14, 15);
    border-radius: 1em;
    position: relative;
    display: flex;
}
.get_started_top{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.get_started_left{
    margin: 0;
    margin: 0em 0em 3em 5em;
}
.get_started_right{
    margin: 0;
}
.get_started_left h1{
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 0.01em;
}
.join{
    display: flex;
    width: 28em;
    margin: 3em 0 0 0;
    gap: 2.5em;
}
.request button{
    background: rgb(10, 10, 10);
    width: 15em;
}
.request{
    margin: 0;
}
.join_link{
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0;
}
.join_link a{
    color: rgb(215,215,216);
    font-weight: 500;
    margin: 0;
}

.join_link img{
    margin: 0;
}
.learn_more{
    position: absolute;
    background-color: rgba(15, 14, 15, 0.8);
    height: 5em;
    width: 100%;
    display: flex;
    align-self: flex-end;
    border-radius: 1em;
    z-index: 100;
}
.learn_more:hover{
    cursor: pointer;
}
.learn_more a{
    color: aqua;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 0.01em;
    opacity: 0.7;
}
.join_link a:hover{
    text-decoration: none;
}
.random_design_3{
    position: absolute;
    background: conic-gradient(red,blue, white);
    height: 12em;
    width: 12em;
    filter: blur(4em);
    top: 12em;
    right: 30em;
    opacity: 0.5;
}
footer{
    margin-top: 16em;
    display: flex;
    flex-direction: column;
    width: 85%;
}
.footer_container{
    display:flex;
    width: 100%;
    justify-content: space-between;
}
.footer_logos{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0;
}
.footer_logos img{
    margin: 0;
}
.footer_logos svg{
    margin: 0;
}
.links{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
.links a{
    margin: 0;
    color: rgb(215,215,216);
    text-decoration: none;
    letter-spacing: 0.01em;
    font-weight: 500;
}
.links a:hover{
    text-decoration: underline;
    text-underline-offset: 0.2em;
}
.links label{
    margin: 0;
    color: rgba(215,215,216, 0.5);
    margin-bottom: 0.5em;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.01em;
}
.footnote{
    margin-top: 5em;
    width: 100%;
    display: flex;
    border-top: 0.16em solid rgba(175, 175, 175, 0.1);
    height: 5em;
    background-color: rgba(24,24,25,0.5);
}
.footnote_container{
    display: flex;
    width: 90%;
}
.social_links{
    display: flex;
    align-items: center;
    gap: 1em;
}
@media (max-width: 1026px){
    body{
        font-size: 12px;
    }
    .nav_items_container{
        display: none;
    }
    .nav_buttons{
        display: none;
    }
    .menu{
        display: flex;
        margin: 0 3em 0 0;
    }
    .nav{
        width: 100%;
        padding: 2em;
        justify-content: space-between;
    }
    .nav img{
        margin: 0;
    }
    .left_why{
        width: 100%;
    }
    .left_why h2{
        font-size: 4em;
    }
    .left_why p{
        width: 100%;
        font-size: 1.7em;
    }
    .card_section{
        flex-wrap: wrap;
        font-size: 16px;
    }
    .two_cards{flex-wrap: wrap;}
    .big_card{width: 80%;}
    .join{
        flex-direction: column;
        width: 17em;
    }
}
@media (max-width: 926px) {
    body{
        font-size: 10px;
    }
}
@media (max-width: 770px) {
    .header_section h1{
        width: 80%;
    }
    .techstars{
        margin-top: 5em;
    }
    .product_lists{
        width: 80%;
        gap: 3em;
    }
    .why_content{
        flex-direction: column;
        height: fit-content;
    }
    .right_why svg{
        right: 38em;
        bottom: 4em;
        justify-self: center;
        align-self: center;

    }
    .right_why{
        margin: 10em 0 0 0;
        height: 30em;
    }
    .right_why_bg{
        margin-top: -10em;
    }
    .why_container{height: fit-content;}
    .left_why p{
        font-size: 2em;
        width: 90%;
    }
    .deploy_container{
        flex-direction: column;
        gap: 5em;
    }
    .deploy_left{
        width: 100%;
        gap: 4em;
        margin-top: 3em;
    }
    .random_design{
        align-self: center;
        justify-self: center;
        margin: 0;
        bottom: 12em;
        left: 14em;
    }
    .deploy_container p{
        font-size: 1.6em;
    }
    .FAQ_content{
        flex-direction: column;
        gap: 5em;
    }
    .FAQs h1{
        margin: 0;
        width: 100%;
    }
    .get_started_top{
        flex-direction: column-reverse;
    }
    .get_started_container{
        width: 100%;
    }
    .get_started_content{
        width: 100%;
    }
    .get_started_left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .get_started{
        width: 90%;
    }
    .get_started_left h1{
        font-size: 6em;
        text-align: center;
        margin-bottom: 1em;
    }
    .get_started_right{
        width: 100%;
        margin-bottom: 4em;
    }
    .get_started_right img{
        width: 100%;
    }
    .get_started_left{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .join{
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 5em;
        margin-bottom: 15.5em;
        align-self: center;
        justify-content: center;
    }
    .learn_more{
        height: 10em;
        width: 100%;
    }
    .learn_more a{
        font-size: 2.5em;
    }
    .request button{
        width: 10em;
    }
.footer_container{
    flex-wrap: wrap;
}
.footer_logos{
    width: 100%;
    margin-bottom: 6em;
}
.links label{
    font-size: 1.1em;
}
.links a{
    font-size: 1.4em;
}
.footnote_container{
    width: 100%;
}
.random_design_3{
    margin: 0;
    top: 80em;
    filter: blur(8em);
    z-index: 1000;
}
}
@media (max-width:600px) {
    body{
        font-size: 8px;
    }
}
@media (max-width:450px) {
    body{
        font-size: 6px;
    }
    .header_section{
        margin-top: 20em;
    }
    .right_why svg{
        width: 40em;
        align-self: center;
        right: 48em;
    }
    .nav img{
        width: 20em;
    }
    .right_why{
        margin-top: 30em;
    }
    .deploy_right svg{
        width: 45em;
    }
    .random_design{
       bottom: 25em;
       left: 18em;
    }
    .footer_container{
        flex-direction: column;
        gap: 5em;
        margin-bottom: 2em;
    }
    .footer_container a{
        font-size: 2.5em;
    }
    .footer_container label{
        font-size: 2.2em;
    }
    .footer_logos{
        font-size: 14px;
        margin: 0;
    }
    .slider img{
        width: 20em;
    }
    .content_image{
        width: 5em;
    }
}
@media (max-width: 330px) {
    body{
        font-size: 5px;
    }
}